@mixin carousel-img-styles {
  background-size: cover;
  height: 200px;
  cursor: pointer;
}

.carousel-container {
  margin: 3rem 1rem;

  .carousel {
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;

    .slick-prev {
      left: 0;
      z-index: 1;

      &:before {
        color: blue;
      }
    }

    .slick-next {
      right: 0;

      &:before {
        color: blue;
      }
    }

    .slide {
      color: #fff;
      font-size: 36px;
      position: relative;
      text-align: center;
      transform: translate3d(0px, 0px, 0px);
      transition: transform .2s ease-in-out;
      padding: 1rem;

      .container {
        background-color: #f0f8ff;
        height: 12.5rem;
        position: relative;
        width: 90%;
      }

      .image {
        display: block;
        width: 100%;
        height: auto;
        height: 100%;
        padding: 1rem;
        border: 1px solid #ededed;
      }

      .text {
        color: white;
        font-size: .7rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .article-page-img {
        background-image: url('../Images/TD_Ameritrade/Desktop/article-page.png');
        @include carousel-img-styles;
      }

      .carousel-img {
        background-image: url('../Images/TD_Ameritrade/Desktop/carousel.png');
        @include carousel-img-styles;
      }

      .education-centre-top {
        background-image: url('../Images/TD_Ameritrade/Desktop/education-centre-top.png');
        @include carousel-img-styles;
      }

      .upload-files {
        background-image: url('../Images/TD_Ameritrade/Desktop/uploadFiles.png');
        @include carousel-img-styles;
      }

      .modal-table {
        background-image: url('../Images/TD_Ameritrade/Desktop/index_option_fees_modal.png');
        @include carousel-img-styles;
      }

      .video-page-img {
        background-image: url('../Images/TD_Ameritrade/Desktop/video_page.png');
        @include carousel-img-styles;
      }
    }
  }
}
