@mixin carousel-img-styles {
  background-size: cover;
  height: 200px;
  cursor: pointer;
}

.hide {
  display: none;
}

.carousel-container {
  margin: 3rem 1rem;

  .carousel {
    overflow: hidden;
    margin-left: 1rem;
    margin-right: 1rem;

    .slick-prev {
      left: 0;
      z-index: 1;

      &:before {
        color: blue;
      }
    }

    .slick-next {
      right: 0;

      &:before {
        color: blue;
      }
    }

    .slide {
      color: #fff;
      font-size: 36px;
      position: relative;
      text-align: center;
      transform: translate3d(0px, 0px, 0px);
      transition: transform .2s ease-in-out;
      padding: 1rem;

      .container {
        background-color: #f0f8ff;
        height: 12.5rem;
        position: relative;
        width: 90%;
      }

      .image {
        display: block;
        width: 100%;
        height: auto;
        height: 100%;
        padding: 1rem;
        border: 1px solid #ededed;
      }

      .text {
        color: white;
        font-size: .7rem;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .analyte-health-img1 {
        background-image: url('../Images/Analyte_Health/Checkout.jpg');
        @include carousel-img-styles;
      }

      .analyte-health-img2 {
        background-image: url('../Images/Analyte_Health/Homepage-center.jpg');
        @include carousel-img-styles;
      }

      .analyte-health-img3 {
        background-image: url('../Images/Analyte_Health/Homepage-top.jpg');
        @include carousel-img-styles;
      }

      .analyte-health-img4 {
        background-image: url('../Images/Analyte_Health/Map.jpg');
        @include carousel-img-styles;
      }

      .analyte-health-img5 {
        background-image: url('../Images/Analyte_Health/Test_panel.jpg');
        @include carousel-img-styles;
      }

      .td-ameritrade-article-page-img {
        background-image: url('../Images/TD_Ameritrade/Desktop/article-page.png');
        @include carousel-img-styles;
      }

      .td-ameritrade-carousel-img {
        background-image: url('../Images/TD_Ameritrade/Desktop/carousel.png');
        @include carousel-img-styles;
      }

      .td-ameritrade-education-centre-top {
        background-image: url('../Images/TD_Ameritrade/Desktop/education-centre-top.png');
        @include carousel-img-styles;
      }

      .td-ameritrade-upload-files {
        background-image: url('../Images/TD_Ameritrade/Desktop/uploadFiles.png');
        @include carousel-img-styles;
      }

      .td-ameritrade-modal-table {
        background-image: url('../Images/TD_Ameritrade/Desktop/index_option_fees_modal.png');
        @include carousel-img-styles;
      }

      .td-ameritrade-video-page-img {
        background-image: url('../Images/TD_Ameritrade/Desktop/video_page.png');
        @include carousel-img-styles;
      }

      .fanatics-banner-page {
        background-image: url('../Images/fanatics/fanatics-banner.png');
        @include carousel-img-styles;
      }

      .fanatics-nfl-page {
        background-image: url('../Images/fanatics/fanatics-nfl-page.jpeg');
        @include carousel-img-styles;
      }

      .fanatics-player-page {
        background-image: url('../Images/fanatics/fanatics-player-page.png');
        @include carousel-img-styles;
      }

      .fanatics-social-page {
        background-image: url('../Images/fanatics/fanatics-social-page.png');
        @include carousel-img-styles;
      }

      .fanatics-countdown-timer {
        background-image: url('../Images/fanatics/fanatics-countdown-timer.png');
        @include carousel-img-styles;
      }

      .fanatics-fans-edge-site {
        background-image: url('../Images/fanatics/fanatics-fans-edge-site.png');
        @include carousel-img-styles;
      }

      .nokia-cart {
        background-image: url('../Images//Nokia/gm/cart.jpg');
        @include carousel-img-styles;
      }

      .nokia-home {
        background-image: url('../Images//Nokia/gm/home.jpg');
        @include carousel-img-styles;
      }

      .nokia-product-page {
        background-image: url('../Images/Nokia/gm/m-product.jpg');
        @include carousel-img-styles;
      }

      .nokia-checkout-page {
        background-image: url('../Images/Nokia/honda/checkout.jpg');
        @include carousel-img-styles;
      }

      .nokia-order-history-page {
        background-image: url('../Images/Nokia/Hyundai/order-history.jpg');
        @include carousel-img-styles;
      }

      .nokia-shipping-page {
        background-image: url('../Images/Nokia/Hyundai/shipping.jpg');
        @include carousel-img-styles;
      }

      .delphian-access-checker {
        background-image: url('../Images/Delphian/AccessChecker.JPG');
        @include carousel-img-styles;
      }

      .delphian-dynamic-dropdown {
        background-image: url('../Images/Delphian/dynamic_drop_down.png');
        @include carousel-img-styles;
      }

      .delphian-events-menu {
        background-image: url('../Images/Delphian/eventsMenu.JPG');
        @include carousel-img-styles;
      }

      .delphian-mobile-account-management {
        background-image: url('../Images/Delphian/mobileAccountManagement.JPG');
        @include carousel-img-styles;
      }

      .oao-filter-menu-1 {
        background-image: url('../Images/OAO/Filter_Menu1.png');
        @include carousel-img-styles;
      }

      .oao-filter-menu-2 {
        background-image: url('../Images/OAO/Filter_Menu2.png');
        @include carousel-img-styles;
      }
    }
  }
}
