.footer {
    background-color: #4b4bff;
    border-radius: 10px;
    box-sizing: border-box;

    ul {
        color: #FFF;
        display: flex;
        justify-content: center;
        list-style: none;
    }
}