.footer {
    box-sizing: border-box;
    border-top: 1px solid #ededed;

    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        padding-top: 1rem;
    }

    li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}