.footer {
    box-sizing: border-box;
    border-top: 1px solid #ededed;

    ul {
        list-style: none;
        padding-top: 1rem;
        text-align: center;
    }

    li {
        padding-left: 1rem;
        padding-right: 1rem;
        display: inline-block;
    }
}